{% extends '_base.html' %}
{% load static %}
{% load socialaccount %}
}


{% block title %}Home{% endblock title %}

{% block content %}
    <h1>Homepage</h1>
    <p><img src="{% static 'images/random.png' %}" class="bookcover" alt="logo"></p>

{% if user.is_authenticated %}
    Hi {{ user.email }}!
    <p><a href="{% url 'account_logout' %}">Logout</a></p>

{% else %}
    <p>You are not logged in </p>
    <a href="{% url 'account_login' %}">Login</a>
    <a href="{% url 'account_signup' %}">Sign Up</a>

    <h2 style="text-align: center;">OR</h2>
    <div class="container" style="text-align: center;">
    <a class="btn btn-primary" href="{% provider_login_url 'github' %}">Login with GitHub</a>

    <h2>OR</h2>
    <a class="btn btn-success" href="{% provider_login_url 'google' %}">Login with Google</a>
    <p><a class="btn btn-primary" href="{% provider_login_url 'facebook' %}">Login with Facebook</a></p>
    <p><a class="btn btn-primary" href="{% provider_login_url 'twitter' %}">Login with Twitter</a></p>

</div>
{% endif %}

{% endblock content %}